{% extends 'management/base.html' %}
{% block content %}
    <div class="page-header container">
        <h1>Management</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Orders</h3>
        </div>
        <div class="panel-body">
            {% for order in orders %}
                <p>{{order}} <a href="{% url 'view_order' order.id %}">View</a></p>
            {% empty %}
                <p>No outstanding orders. Time to get more business!</p>
            {% endfor %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Colors</h3>
        </div>
        <div class="panel-body">
            <ul>
            {% for color in colors %}
                <li>{{color}} - {{color.estimated_length}}'</li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Products</h3>
        </div>
        <div class="panel-body">
            <p>There are currently {{products}} products for sale.</p>
            <a href="{% url 'products' %}">View Products</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Employees</h3>
        </div>
        <div class="panel-body">
            {% for employee in employees %}
                {{employee.name}}: ${{employee.amount_owed|floatformat:2}}
                <a href="{% url 'view_employee' employee.id %}">view</a>
            {% endfor %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Budgeting</h3>
        </div>
        <div class="panel-body">
            <p>Sales: ${{sales|floatformat:2}}</p>
            <p>Expenses: ${{expenses|floatformat:2}}</p>
            <p>Net Gain: ${{gain|floatformat:2}}</p>
            <p>Capital: ${{capital|floatformat:2}}</p>
        </div>
    </div>

{% endblock content %}