{% extends 'brothers_paracord/base.html' %}
{% block content %}
    <h2>Management</h2>
    <div>
        <h3>Orders:</h3>
        {% for order in orders %}
            {{order}}
        {% empty %}
            <p>No outstanding orders. Time to get more business!</p>
        {% endfor %}
    </div>

    <div>
        <h3>Colors:</h3>
        <ul>
        {% for color in colors %}
            <li>{{color}} - {{color.estimated_length}}'</li>
        {% endfor %}
        </ul>
    </div>

    <div>
        <p>There are currently {{products}} products for sale</p>
    </div>

    <div>
        <h3>Budgeting</h3>
        <p>Sales: ${{sales|floatformat:2}}</p>
        <p>Expenses: ${{expenses|floatformat:2}}</p>
        <p>Net Gain: ${{gain|floatformat:2}}</p>
        <p>Capital: ${{capital|floatformat:2}}</p>
    </div>

{% endblock content %}